:root {
  --main: #466CB2;
  --header: #38568d;
  --color1: #B2466C;
  --color2: #6CB246;
  --color3: #5646B2;
}

#root {
  margin: 0 auto;
  text-align: center;
  overflow: auto;
  width: 100%;
}

body {
  align-items: flex-start;
  background-color: var(--main);
}

form button {
  margin: 0 20px;
  width: 200px;
}

form input {
  height: 35px;
  width: 1200px;
  text-align: center;
  font-size: 1.2rem;
}

form label {
  font-size: 1.2rem;
}

form {
  min-height: 100px;
  background-color: var(--header);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color3);
  min-height: 460px;
}

.weather-data {
  display: flex;
  justify-content: center;
}

.weather-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-right: 30px;
  border-right: 3px solid white;
}

.temp-display {
  display: flex;
  flex-direction: column;
}

.other-display {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

.general-display {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 1.5rem;
  border-bottom: 5px solid white;
  background-color: var(--color3);
  border-top: 5px solid white;
}

.temp {
  font-size: 6rem;
  margin: 0;
}

.feels-like {
  font-size: 1rem;
  margin: 0;
}

.weather-main img {
  width: 150px;
  height: 150px;
}

.location {
  font-size: 2rem;
  min-height: 50px;
}

.simple-flex {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.day-forecast img {
  width: 50px;
  height: 50px;
}

.seven-day {
  display: flex;
  justify-content: center;
  gap: 80px;
  background-color: var(--color1);
}

h2 {
  background-color: var(--color2);
  margin: 0;
  border-bottom: 2px solid rgb(32, 99, 57);
}

img {
  width: 100px;
  height: 100px;
}

.info {
  font-size: 2rem;
}

/* Media Queries */
@media (max-width: 600px) {
  .seven-day {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .day-forecast {
    width: 100%;
    border-bottom: 1px solid black;
  }

  .weather-main {
    flex-direction: column;
    gap: 0px;
  }

  .temp {
    font-size: 2rem;
  }

  .other-display {
    font-size: 1.2rem;
  }

  .description {
    padding: 0px 20px;
    padding-top: 50px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form input {
    width: 350px;
  }
}

@media (max-height: 1400px) {
  .weather-main {
    min-height: 60vh;
  }
}

/* Loader */
.loader {
  margin: 250px auto;
  width: 100px;
  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,
     #ffffff 96%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
     #ffffff 96%,#0000) 0 50%/80% 20% repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {transform:rotate(1turn)}
}
