#root {
  margin: 0 auto;
  text-align: center;
}

body {
  align-items: flex-start;
  background-color: #466CB2;
}

form button {
  margin: 0 20px;
  width: 200px;
}

form input {
  height: 35px;
  width: 1200px;
  text-align: center;
  font-size: 1.2rem;
}

form label {
  font-size: 1.2rem;
}

form {
  min-height: 100px;
  width: 100vw;
  background-color: #38568d;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.weather-data {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.weather-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-right: 30px;
  border-right: 3px solid white;
}

.temp-display {
  display: flex;
  flex-direction: column;
}

.other-display {
  padding-left: 30px;
}

.general-display {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 1.5rem;
  border-bottom: 5px solid white;
}

.temp {
  font-size: 4rem;
  margin: 0;
}

.feels-like {
  font-size: 0.8rem;
  margin: 0;
}

.weather-main img {
  width: 100px;
  height: 100px;
}

.location {
  font-size: 2rem;
  min-height: 50px;
}

.simple-flex {
  display: flex;
  gap: 10px;
}

.day-forecast img {
  width: 50px;
  height: 50px;
}

.seven-day {
  display: flex;
  justify-content: center;
  gap: 80px;
}

h2 {
  margin-top: 100px;
}

img {
  width: 100px;
  height: 100px;
}

/* Loader */
.loader {
  margin: 250px auto;
  width: 100px;
  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,
     #ffffff 96%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
     #ffffff 96%,#0000) 0 50%/80% 20% repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {transform:rotate(1turn)}
}